body {
    text-align: center;
    margin: 0;
    background-color: rgb(211, 233, 225);
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top_div {
    background-color: rgb(166, 245, 245);
    position: relative;
    padding-top: 100px;
    /* height: 200px;
    width: 200px;
    border: solid 10px; */
}

.middle-container {

}

.bottom-container {
}

.pro {
    text-decoration: underline;
}

.bottom_cloud {
    position: absolute;
    /* bottom: 0; */
}

.top_cloud {
    position: absolute;
    top: 50px;
    right: 400px;
    
}